@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600&family=Markazi+Text:wght@400;500;600;700&display=swap");

:root {
  --primary: #495e57;
  --primary2: #f4ce14;
  --secondary: #ee9972;
  --secondary2: #fbdabb;
  --secondary3: #edefee;
  --secondary4: #333333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
  font-family: "Markazi Text", serif;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  color: #333333;
}

@media screen and (max-width: 796px) {
  body {
    font-size: 1.6rem;
  }
}
