.wrapper {
  width: 100%;
  height: 135px;
  display: grid;
  grid-template-columns: auto 135px;
  grid-template-areas: "info img";
  gap: 4px;
}
.info {
  display: flex;
  flex-direction: column;
  grid-area: info;
  padding: 8px 0;
}
.header {
  height: 24px;
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.price {
  color: #ec5627;
}
.description {
  height: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  // margin: 10px 0;
}
.button {
  margin-top: 6px;
  width: auto;
  height: 23px;
  align-self: start;
}
.img {
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
  }
}
