.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
}

.guestCountContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.guestCount {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--inputHeight);
  height: var(--inputHeight);
  border: 1px solid var(--secondary4);
  border-radius: 8px;
  font-size: 24px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.active {
  background-color: var(--primary2);
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .guestCountContainer {
    justify-content: start;
  }
}
