.wrapper {
}
.header {
  display: flex;
  padding: 4px 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.content {
  padding: 0 25px;
  display: grid;
  grid-template-columns: repeat(3, 190px);
  grid-template-rows: auto;
  gap: 35px;
  overflow: scroll;
}
