.wrapper {
  margin-top: 10vh;
  padding: 1.5vh 0 3vh;
  border: 1px solid var(--secondary3);
  border-radius: 16px;
}
.header {
  display: flex;
  padding: 4px 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content {
  margin-top: 1vh;
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2vw;
  overflow-x: scroll;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
