.wrapper {
  --inputHeight: 40px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 5fr 1fr;
  grid-template-areas:
    "date time"
    "guest guest"
    "table table"
    "submit submit";
  gap: 1vh;
  width: 100%;
}

.date {
  grid-area: date;
}

.time {
  grid-area: time;
}

.guest {
  grid-area: guest;
}

input,
select {
  height: 40px;
  font-size: 24px;
  padding: 4px 12px;
  border: 1px solid var(--secondary4);
  border-radius: 10px;
}

input[type="date"] {
  width: 100%;
  color: var(--secondary4);
  outline: no;
}
::-webkit-calendar-picker-indicator {
  filter: invert(72%) sepia(68%) saturate(578%) hue-rotate(1deg)
    brightness(106%) contrast(91%);
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

select {
  width: 100%;
  height: var(--inputHeight);
  background: url("../../../assets/images/time.svg") no-repeat right 17px center;
  background-size: 25px 25px;
  -webkit-appearance: none;
}

.table {
  grid-area: table;
  margin-top: 0vh;
}

.submit {
  grid-area: submit;
  margin: 2vh 0 1vh;
  display: flex;
  justify-content: center;
}
.submitBtn {
  width: 400px;
  height: 5vh;
  border: 1px solid black;
}

@media screen and (min-width: 992px) {
  .form {
    padding: 0 8vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr) 3fr 1fr;
    grid-template-areas:
      "date table"
      "time table"
      "guest table"
      ". table"
      "submit submit";
    gap: 1vh;
    width: 100%;
  }

  .table {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
