.wrapper {
  --inputHeight: 40px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dateTimeGuest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "date time"
    "guest guest";
  gap: 1vh;
}

.date {
  grid-area: date;
}

.time {
  grid-area: time;
}

.guest {
  grid-area: guest;
}

input,
select {
  height: 40px;
  font-size: 24px;
  padding: 4px 12px;
  border: 1px solid var(--secondary4);
  border-radius: 10px;
}

input[type="date"] {
  width: 100%;
  color: var(--secondary4);
  outline: no;
}
::-webkit-calendar-picker-indicator {
  filter: invert(72%) sepia(68%) saturate(578%) hue-rotate(1deg)
    brightness(106%) contrast(91%);
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

select {
  width: 100%;
  height: var(--inputHeight);
  background: url("../../assets/images/time.svg") no-repeat right 17px center;
  background-size: 25px 25px;
  -webkit-appearance: none;
}

.table {
  margin-top: 2vh;
}

.submit {
  margin: 2vh 0 1vh;
  display: flex;
  justify-content: center;
}
.submitBtn {
  width: 400px;
  height: 5vh;
  border: 1px solid black;
}

.confirmationNotification {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color: white, $alpha: 0.6);
}

@media screen and (min-width: 992px) {
  .dateTimeGuest {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "date time guest";
  }
}
