.title {
  font-family: "Markazi Text Medium", sans-serif;
  font-size: 6.4rem;
}
.subTitle {
  font-family: "Markazi Regular Medium", sans-serif;
  font-size: 4rem;
}
.leadText {
  font-family: "Karla Medium", sans-serif;
  font-size: 1.8rem;
}
.sectionTitle {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bolder;
}
.special {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}
.cardTitle {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}
.paragraphText {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5rem;
}
.highlightText {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
}
