.wrapper {
  margin-top: 10px;
  padding: 4px;
}
.header {
  display: flex;
  padding: 4px 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title {
}
.content {
  margin-bottom: 2px;
}
