.wrapper {
  margin-top: 30px;
}
.header {
  display: flex;
  padding: 4px 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title {
}
.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

// @media screen and (min-width: 768px) {
//   .content {
//     gap: 8px;
//   }
// }

@media screen and (min-width: 768px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
